<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.java17demo.mapper.ChatMapper">

    <resultMap id="chatMap" type="com.example.java17demo.pojo.vo.FriendsVo">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <select id="getFriendsList" resultMap="chatMap">
        SELECT user.id,user.user_name,user.nick_name,user.avatar from friend_ships
        LEFT JOIN user ON user.id = friend_ships.friend_id
        WHERE friend_ships.user_id = #{userId};
    </select>

</mapper>